body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#101820FF ;
    margin: 0;
    padding: 0%;
}
/* Css of resume */
.containerOfRes{
    max-width: 700px;
    margin: auto;
    margin-top: 40px;
    background: #fff171e0;
    padding: 0%;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0,0, 0, 0.1);
    align-items: center;
}
#header{
    padding-top: 20px;
    text-align: center;
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#education{
    align-items: center;
    text-align: center;
    justify-content: center;
}
#work-experience{
    text-align: center;
}
#skills{
    text-align: center;
    justify-content: center;
}
h2{
    color: #000000;
}
#toggle-skills{
    margin-top: 2px;
    padding: 10px;
    background-color: #101820FF;
    color: #fff171e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 43%;
    margin-bottom: 20px;
}
button:hover{
    background-color: aliceblue;
}
button text{
    color: black;
}
p{
    color: #000000;
}
h1{
    color: #000000;
}
#skills ul{
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    padding-right: 50px;
    align-items: center;
    text-align: center;
    list-style: none;
}
/* Css of index */
.container {
    width: 100%;
    max-height: fit-content;
    margin: 0%;
    background-color:#101820FF ;
    background-size: cover;
    padding: 0%;

}
.leftHome{
    width: 50%;
    height: 500px;
    background-color: aliceblue;
}
.rightHome{
    width: 50%;
    height: 500px;
    background-color: rgb(3, 137, 255);

}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
        text-decoration: none;
        color: aliceblue;
        
}